body {
	margin: 0;
}
.main {
	position: relative;
	font-family: impact;
	width: 360px;
	margin: auto;
	padding: 0;
}
.usersList {
	margin: 10px;
	width: 340px;
	padding: 10px;
	background-color: #F0F0F0;
	position: absolute;
	font-size: 14pt;
}
#background {
	position: fixed;
	visibility: hidden;
	height: 100%;
	width: 100%;
	background: #000000;
	opacity: 0.8;
}
li {
	list-style-type: none;
}
ul.usersList>li:hover {
	background-color: #D4D3D3;
	cursor: pointer;
}
img {
	border-radius: 10px;
}
#popup { 
	position: fixed;
	margin: 10px;
	background-color: #F0F0F0;
	padding: 10px;
	height: 300px;
	width: 340px;
	text-align: center;
	box-shadow: 0 0 1000px 100px;
	z-index: 100;
	transition: top 0.3s;
}
li+li {
	margin-top:2px; 
}
#spanSort {
	position: fixed;
	cursor: pointer;
}
#spanSort>span:hover {
	color: red;
}
#info>ul {
	padding: 0;
}
ul.usersList>li {
	height: 70px;
	position: relative;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
ul.usersList>li>span {
	padding-left: 10px;
	position: absolute;
	top: 35%;
}
#closeButton {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
#closeButton:hover {
	color: red;
}
li>img {
	height: 70px;
}
#divSort {
	position: absolute;
	top: 20px;
	left: 300px;
}